<app-bottom-sheet #bottomSheet>
  <h2 class="item-heading">{{ editItemService.item()?.name }}</h2>
  <mat-form-field class="flex-element" appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput #price [value]="editItemService.item()?.price">
    <mat-icon matSuffix>euro_symbol</mat-icon>
  </mat-form-field>
  <app-badge (onRemove)="editItemService.removeBadge($event)"></app-badge>
  <div class="separator"></div>
  <app-autocomplete-selector [dataset]="dataset" label="Category"
                             (onChange)="editItemService.addCategory($event)"></app-autocomplete-selector>
  <div class="flex-evenly">
    <!--    todo: implement confirm dialog when deleting-->
    <button class="action-button" style="width: 100%" mat-flat-button
            (click)="editItemService.deleteItem(); bottomSheet.close()">
      Delete
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
    <button style="margin-left: 8px; width: 100%" class="action-button" mat-flat-button
            (click)="editItemService.saveItem(price.value); bottomSheet.close()">Save
      <mat-icon fontIcon="edit"></mat-icon>
    </button>
  </div>
</app-bottom-sheet>
