<app-bottom-sheet>
  <h2 class="item-heading">{{ editItemService.item()?.name }}</h2>
  <img [src]="editItemService.item()?.image" alt="" class="item-image">
  <mat-form-field class="flex-element" appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput #message [value]="editItemService.item()?.price">
    <mat-icon matSuffix>euro_symbol</mat-icon>
  </mat-form-field>
  <div class="flex-evenly">
    <button class="action-button" style="width: 100%" mat-flat-button>
      Delete
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
    <button style="margin-left: 8px; width: 100%" class="action-button" mat-flat-button>Save
      <mat-icon fontIcon="edit"></mat-icon>
    </button>
  </div>
</app-bottom-sheet>
