.badge-icon {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  margin-top: 4px;
}

.badge-chip {
  height: 48px;
}

.badge-text {
  font-size: 16px;
  float: right;
  margin-left: 4px;
  margin-top: 16px;
}

.remove-button {
  transform: scale(1.2);
}
