<div #container class="content-container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    @if (!browserService.isMobile() && browserService.currentRoute() === '/items') {
      <span class="spacer"></span>
      <button class="non-mobile-fab" mat-fab extended>
        Add
        <mat-icon class="search-button">my_library_add</mat-icon>
      </button>
    }
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="true" class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" fixedInViewport="true"
                 fixedTopGap="{{browserService.isMobile() ? 52 : 60}}">
      <mat-nav-list>
        <a class="sidenav-element" mat-list-item routerLink="/" (click)="sidenav.toggle()">Home</a>
        <a class="sidenav-element" mat-list-item routerLink="/items" (click)="sidenav.toggle()">Items</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
