<mat-form-field class="autocomplete-selector" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input type="text"
         placeholder="{{label}}"
         matInput
         [formControl]="inputControl"
         [matAutocomplete]="auto">
  <mat-autocomplete (optionSelected)="emitSelection()"
                    autoActiveFirstOption
                    #auto="matAutocomplete">
    @for (value of filteredValues | async; track value) {
      <mat-option
        [value]="value">{{ value }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
